@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
/* font-family: 'Overpass', sans-serif; */
.attribution {
  position: absolute;
  color: var(--White);
  font-family: var(--font);
  font-size: 15px;
  margin-top: 45%;
  margin-left: 37%;
}
.attribution a {
  color: var(--Orange);
}
* {
  margin: 0;
  padding: 0;
}
.selected {
  background-color: green;
  color: white;
}
:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
  --font: "Overpass", sans-serif;
}

body {
  background-color: var(--VeryDarkBlue);
}
#container {
  background-color: hsl(213, 19%, 18%, 0.6);
  height: 26rem;
  width: 25rem;
  position: absolute;
  margin-left: 36%;
  margin-top: 9%;
  border-radius: 30px;
  padding: 10px;
  backface-visibility: hidden;
}
#starcontainer {
  background-color: hsl(216, 12%, 54%, 0.2);
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 8px;
  margin-top: 2rem;
  margin-left: 1.6rem;
}
#starcontainer img {
  margin-top: 5px;
  display: inline-block;
  height: 21px;
  margin-left: 6.4px;
}
#thankyou {
  display: none;
  margin-left: 20%;
  margin-top: 10px;
  height: 9rem;
}
h2 {
  color: var(--White);
  font-family: var(--font);
  font-size: 40px;
  margin-left: 27px;
  margin-top: 30px;
}
p {
  color: var(--MediumGrey);
  font-family: var(--font);
  font-size: 15px;
  line-height: 1.5rem;
  margin-left: 27px;
}
#ratings {
  margin-left: 27px;
  margin-top: 30px;
}
.ratingvalue {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  font-family: var(--font);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s ease;
}
.defaultratingbg {
  background-color: hsl(216, 12%, 54%, 0.2);
  color: var(--LightGrey);
}
.ratingvalue:hover {
  background-color: var(--MediumGrey);
  color: var(--White);
}
#submitbtn {
  color: var(--White);
  font-family: var(--font);
  font-size: 17px;
  background-color: var(--Orange);
  border: none;
  padding: 5px;
  width: 21.9rem;
  height: 2.5rem;
  margin-left: 27px;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#submitbtn:hover {
  background-color: var(--White);
  color: var(--Orange);
}
#ratingtext {
  color: var(--Orange);
  font-family: var(--font);
  font-size: 17px;
  padding: 5px 25px;
  background-color: hsl(216, 12%, 54%, 0.2);
  display: inline;
  border-radius: 30px;
  margin-left: 22%;
  display: none;
  width: 45%;
}

@media screen and (max-width: 500px) {
  #submitbtn {
    font-size: 17px;
    width: 19.9rem;
    height: 2.5rem;
    margin-left: 12px;
    margin-top: 31px;
  }

  .ratingvalue {
    height: 45px;
    width: 45px;
    font-size: 17px;
    margin-right: 14px;
  }

  #container {
    height: 24rem;
    width: 21rem;
    margin-left: 4%;
    margin-top: 41%;
  }
  .attribution {
    font-size: 14px;
    margin-top: 170%;
    margin-left: 6%;
  }

  #ratings {
    margin-left: 21px;
    margin-top: 25px;
  }
  #thankyou {
    margin-left: 13%;
  }
  p {
    font-size: 14px;
    margin-top: 0px;
  }
  #ratingtext {
    width: 49%;
    margin-left: 20%;
  }
}
